# Regression

In [45]:
import pandas as pd
from google.colab import drive

# A glimpse of the dataset

In [46]:
testdf = pd.read_csv('/content/drive/MyDrive/machinelearning data sets/datasetsCW/real-state/final realestate/test_full_Real-estate.csv')
traindf = pd.read_csv('/content/drive/MyDrive/machinelearning data sets/datasetsCW/real-state/final realestate/train_full_Real-estate.csv')
traindf=traindf.drop('No',axis='columns')
testdf=testdf.drop('No',axis='columns')
traindf

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.833,3.4,56.47425,7,24.95744,121.53711,54.4
1,2013.083,12.8,732.85280,0,24.97668,121.52518,40.6
2,2013.083,41.4,281.20500,8,24.97345,121.54093,63.3
3,2013.417,13.6,492.23130,5,24.96515,121.53737,43.8
4,2013.167,3.6,373.83890,10,24.98322,121.53765,61.9
...,...,...,...,...,...,...,...
296,2013.333,16.4,289.32480,5,24.98203,121.54348,41.2
297,2013.417,9.9,2102.42700,3,24.96044,121.51462,23.1
298,2013.500,16.4,3780.59000,0,24.93293,121.51203,45.1
299,2013.083,42.7,443.80200,6,24.97927,121.53874,35.3
300,2013.417,31.5,5512.03800,1,24.95095,121.48458,17.4

In [47]:
Ytrain=traindf['Y house price of unit area']
Xtrain=traindf.drop('Y house price of unit area',axis='columns')
Ytest=testdf['Y house price of unit area']
Xtest=testdf.drop('Y house price of unit area',axis='columns')

# Initiliting the object for the linear regression model

In [48]:
from sklearn import linear_model
reg=linear_model.LinearRegression().fit(Xtrain,Ytrain)

In [49]:
predict=reg.predict(Xtest)

# Results for the predection of the linear regression
Here it could be observed that the predicted values are not proper.

In [50]:
testdf['Y Predicted house prices']=predict
testdf

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area,Y Predicted house prices
0,2013.000,19.0,1009.23500,0,24.96357,121.54951,22.3,30.699917
1,2012.833,5.9,90.45606,9,24.97433,121.54310,52.7,51.543201
2,2013.417,28.6,197.13380,6,24.97631,121.54436,42.5,44.210394
3,2013.167,13.3,492.23130,5,24.96515,121.53737,31.3,42.451150
4,2012.667,33.4,186.96860,6,24.96604,121.54211,42.2,36.744851
...,...,...,...,...,...,...,...,...
108,2013.167,12.0,1360.13900,1,24.95204,121.54842,25.3,30.544605
109,2013.500,15.2,3771.89500,0,24.93363,121.51158,29.3,15.624195
110,2013.333,9.0,1402.01600,0,24.98569,121.52760,38.5,39.180673
111,2012.833,31.7,1160.63200,0,24.94968,121.53009,13.7,22.871424
112,2013.000,33.5,563.28540,8,24.98223,121.53597,46.6,42.933466

# Storing the value to .csv file

In [51]:
testdf.to_csv('/content/drive/MyDrive/machinelearning data sets/datasetsCW/real-state/final realestate/finalresult11.csv')

Mean Absolute Error (MAE) is the mean of the absolute value of the errors:
1n∑i=1n|yi−y^i|
 
Mean Squared Error (MSE) is the mean of the squared errors:
1n∑i=1n(yi−y^i)2
 
Root Mean Squared Error (RMSE) is the square root of the mean of the squared errors:
1n∑i=1n(yi−y^i)2−−−−−−−−−−−−

# Calculating the RootMeanSquaredError for linear regression

In [52]:
from sklearn.metrics import mean_squared_error 
rsme1=mean_squared_error(Ytest,predict,squared=False)
print('RSME = ',rsme1)

RSME =  8.501078429154608

# Pre-processing

Classifying the priceses of the houses into expensive and affordable.

Initially, 0 is applied to all the values and if the price of the house is greater than 30 then its expensive and is converted to 1.
Also, we of the irrelevant columns are droped.

In [53]:
traindf['Y']=0
testdf['Y']=0
traindf.loc[traindf['Y house price of unit area'] > 30, 'Y'] = 1 
testdf.loc[testdf['Y house price of unit area'] > 30, 'Y'] = 1 
Y1=testdf.Y
testdf=testdf.drop('Y',axis='columns')
testdf=testdf.drop('Y house price of unit area',axis='columns')
Y=traindf.Y
traindf=traindf.drop('Y',axis='columns')
traindf=traindf.drop('Y house price of unit area',axis='columns')

# Training the model with the help of Decision Tree Classifier

In [54]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
model.fit(traindf,Y)

DecisionTreeClassifier()

# Training the model with the help of Random Forest Classifier

In [55]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier().fit(traindf,Y)

# Training the model with the help of Logical Regression

In [56]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression().fit(traindf,Y)

# Removing irrelevent columns

In [59]:
testdf=testdf.drop('Y Predicted house prices',axis='columns')

In [60]:
testdf

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,2013.000,19.0,1009.23500,0,24.96357,121.54951
1,2012.833,5.9,90.45606,9,24.97433,121.54310
2,2013.417,28.6,197.13380,6,24.97631,121.54436
3,2013.167,13.3,492.23130,5,24.96515,121.53737
4,2012.667,33.4,186.96860,6,24.96604,121.54211
...,...,...,...,...,...,...
108,2013.167,12.0,1360.13900,1,24.95204,121.54842
109,2013.500,15.2,3771.89500,0,24.93363,121.51158
110,2013.333,9.0,1402.01600,0,24.98569,121.52760
111,2012.833,31.7,1160.63200,0,24.94968,121.53009
112,2013.000,33.5,563.28540,8,24.98223,121.53597

# Predeicting and calculating the accuracy for Decision Tree Classifier

In [61]:
classification=model.predict(testdf)
model.score(testdf,Y1)

0.8938053097345132

# Result of using Random forest classifier

In [62]:
rfc.predict(testdf)
rfc.score(testdf,Y1)

0.911504424778761

# Results of using Logical Regression

In [63]:
lr.predict(testdf)
lr.score(testdf,Y1)

0.4847144917619929